<div id="<%= dom_id student %>">
  <p>
    <strong>Student:</strong>
    <%= student.student_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= student.date_of_birth %>
  </p>

  <p>
    <strong>Departmet:</strong>
    <%= student.departmet_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= student.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= student.phone_number %>
  </p>

</div>
