<div id="<%= dom_id book_borrow %>">
  <p>
    <strong>Coupon borrow:</strong>
    <%= book_borrow.coupon_borrow_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book_borrow.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book_borrow.author_id %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book_borrow.publisher_id %>
  </p>

</div>
