<div id="<%= dom_id coupon_borrow %>">
  <p>
    <strong>Coupon borrow:</strong>
    <%= coupon_borrow.coupon_borrow_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= coupon_borrow.student_id %>
  </p>

  <p>
    <strong>Borrow time:</strong>
    <%= coupon_borrow.borrow_time %>
  </p>

  <p>
    <strong>Isbd:</strong>
    <%= coupon_borrow.isbd %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= coupon_borrow.quantity %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= coupon_borrow.return_date %>
  </p>

  <p>
    <strong>Librarian:</strong>
    <%= coupon_borrow.librarian_id %>
  </p>

</div>
