<%= form_with(model: coupon_borrow) do |form| %>
<% if coupon_borrow.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(coupon_borrow.errors.count, "error") %> prohibited this coupon_borrow from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% coupon_borrow.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :coupon_borrow_id, class: label_class %>
          <%= form.number_field :coupon_borrow_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :student_id, class: label_class %>
          <%= form.number_field :student_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :borrow_time, class: label_class %>
          <%= form.datetime_field :borrow_time, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :isbd, class: label_class %>
          <%= form.text_field :isbd, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :quantity, class: label_class %>
          <%= form.text_field :quantity, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :return_date, class: label_class %>
          <%= form.date_field :return_date, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :librarian_id, class: label_class %>
          <%= form.number_field :librarian_id, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if coupon_borrow.persisted? %>
<%= link_to "Cancel", coupon_borrow, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", coupon_borrows_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
