<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Coupon_borrow</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to coupon_borrows_path, class: button_class(theme: "transparent") do %>
      All Coupon_borrows
      <% end %>
      <%= link_to edit_coupon_borrow_path(@coupon_borrow), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Coupon borrow:</p>
        <p><%= @coupon_borrow.coupon_borrow_id %></p>
      </li>
      <li>
        <p class="font-semibold">Student:</p>
        <p><%= @coupon_borrow.student_id %></p>
      </li>
      <li>
        <p class="font-semibold">Borrow time:</p>
        <p><%= @coupon_borrow.borrow_time %></p>
      </li>
      <li>
        <p class="font-semibold">Isbd:</p>
        <p><%= @coupon_borrow.isbd %></p>
      </li>
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @coupon_borrow.quantity %></p>
      </li>
      <li>
        <p class="font-semibold">Return date:</p>
        <p><%= @coupon_borrow.return_date %></p>
      </li>
      <li>
        <p class="font-semibold">Librarian:</p>
        <p><%= @coupon_borrow.librarian_id %></p>
      </li>
  </ul>
</div>
