<%= form_with(model: language) do |form| %>
<% if language.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(language.errors.count, "error") %> prohibited this language from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% language.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :language_id, class: label_class %>
          <%= form.number_field :language_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :laguage, class: label_class %>
          <%= form.text_field :laguage, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if language.persisted? %>
<%= link_to "Cancel", language, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", languages_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
