<%= form_with(model: storage_location) do |form| %>
<% if storage_location.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(storage_location.errors.count, "error") %> prohibited this storage_location from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% storage_location.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :location_id, class: label_class %>
          <%= form.number_field :location_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :shefl, class: label_class %>
          <%= form.text_field :shefl, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :drawer, class: label_class %>
          <%= form.text_field :drawer, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if storage_location.persisted? %>
<%= link_to "Cancel", storage_location, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", storage_locations_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
