<div id="<%= dom_id book %>">
  <p>
    <strong>Isbd:</strong>
    <%= book.isbd %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Number of page:</strong>
    <%= book.number_of_page %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= book.quantity %>
  </p>

  <p>
    <strong>Publishing year:</strong>
    <%= book.publishing_year %>
  </p>

  <p>
    <strong>Classification:</strong>
    <%= book.classification_id %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book.publisher_id %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= book.language_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= book.location_id %>
  </p>

  <p>
    <strong>Date added:</strong>
    <%= book.date_added %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= book.student_id %>
  </p>

  <p>
    <strong>Book status:</strong>
    <%= book.book_status %>
  </p>

</div>
