<%= form_with(model: publishing_company) do |form| %>
<% if publishing_company.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(publishing_company.errors.count, "error") %> prohibited this publishing_company from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% publishing_company.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :publisher_id, class: label_class %>
          <%= form.number_field :publisher_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :name, class: label_class %>
          <%= form.text_field :name, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if publishing_company.persisted? %>
<%= link_to "Cancel", publishing_company, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", publishing_companies_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
